<style>
  #container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  #container > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
</style>

<script>
  import {onMount} from "svelte";
  import mapboxgl from "mapbox-gl";

  import {Deck} from "@deck.gl/core";
  import {GeoJsonLayer} from "@deck.gl/layers";


  const initialViewState = {
      latitude: 38.905396540451875,
      longitude: -76.99907472881941,
      zoom: 12.441400080146021,
      bearing: 0,
      pitch: 0,
  };

  // DOM elements for mapbox and deck
  let mapbox_div, deck_canvas;

  onMount(async () => {
      const mapbox_access_token = fetch_mapbox_access_token();
      const station_data = fetch_station_data();

      mapboxgl.accessToken = await mapbox_access_token;

      const map = new mapboxgl.Map({
	  container: mapbox_div,
	  style: 'mapbox://styles/mapbox/light-v9',
	  interactive: false,
	  center: [initialViewState.longitude, initialViewState.latitude],
	  zoom:  initialViewState.zoom,
	  bearing: initialViewState.bearing,
	  pitch: initialViewState.pitch,
      });

      const deck = new Deck({
	  canvas: deck_canvas,
	  width: "100%",
	  height: "100%",
	  controller: true,
	  initialViewState,
	  onViewStateChange({viewState}) {
	      map.jumpTo({
		  center: [viewState.longitude, viewState.latitude],
		  zoom: viewState.zoom,
		  bearing: viewState.bearing,
		  pitch: viewState.pitch,
	      });
	  },
	  layers: [
	      new GeoJsonLayer({
	       	  id: "station-points",
	       	  data: await station_data,
	       	  getFillColor: [245, 160, 160, 255],
		  getRadius: 5,
	      }),
	  ],
      });
  });

  async function fetch_mapbox_access_token() {
      const private_config_resp = await fetch("/private_config.json");
      const private_config_json = await private_config_resp.json();

      return private_config_json["mapboxAccessToken"];
  }

  async function fetch_station_data() {
      const station_data_url = "https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Transportation_WebMercator/MapServer/5/query?where=1%3D1&outFields=*&outSR=4326&f=geojson";

      const station_data_resp = await fetch(station_data_url);
      const station_data = await station_data_resp.json();

      return station_data
  }

</script>

<div id="container">
  <div bind:this={mapbox_div}> </div>

  <canvas bind:this={deck_canvas}> </canvas>
</div>
